target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.env
### IDE ###
.idea
.classpath
.project
.settings
.factorypath
*.iml
*.iws
*.ipr

### Logs ###
*.log

### OS ###
.DS_Store
Thumbs.db
